.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-buttin{
    background-image: linear-gradient(to bottom, #1d987d 0%, #3b725b);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.cat1{
    background-image: linear-gradient(90deg, rgb(210, 210, 61), rgb(250, 250, 7));
}
.cat2{
    background-image: linear-gradient(90deg, rgb(131, 78, 131), rgb(165, 23, 221));
}
.cat3{
    background-image: linear-gradient(90deg, rgb(78, 78, 131), rgb(8, 8, 233));
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}

.categories h1{
    color: white;
    width: 100px;
}